@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: "Vazir-Bold";
        src:local("vaziry"), url('./public/fonts/vaziry/Vazir-Bold.woff') format('woff2');
        font-display: swap;
    }
     @font-face {
        font-family: "noto-bold";
        src:local("noto"), url('./public/fonts/noto/NotoSansArabic_Condensed-Bold.ttf');
        font-display: swap;
    }

     @font-face {
        font-family: "noto-light";
        src:local("noto"), url('./public/fonts/noto/NotoSansArabic_Condensed-Light.ttf');
        font-display: swap;
    }
     @font-face {
        font-family: "noto-medium";
        src:local("noto"), url('./public/fonts/noto/NotoSansArabic_Condensed-Medium.ttf');
        font-display: swap;
    }
     @font-face {
        font-family: "noto-regular";
        src:local("noto"), url('./public/fonts/noto/NotoSansArabic_Condensed-Reqular.ttf');
        font-display: swap;
    }
    body{
      background-image:url("../images/headerBgDesktop.png");
        background-repeat: no-repeat;
    }
}

@layer components{

     .submenu__item--active{  
        @apply relative  text-orange-300 pr-2.5;    
              
    }

    .submenu__item--active::after{
        content: "";
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 100px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin:auto;
        background-color:#FDBA74;
    }
   
}